*{ /*no spaces between the different borders & content*/
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background-color:rgb(166, 166, 166);
}
nav{
    width: 100%; /*this makes the nav reach the full width of the homepage*/
    height: 100px;
    background-color: rgb(121, 120, 120);
}

/*this section affects the whole unordered list of activities*/

/*list style in general*/
ul li {
    display:inline-block;/*this removes the bullet points from the list*/
    float: left; /*this makes the list order inline of the activities i added*/
    line-height: 100px;

}
/*ancher tag affects individual items in list*/
ul li a {
    text-decoration:none;/*this removes the underline element from the list*/
    font-size: 1.42vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 0 20px;/*spacing between each item in the horizontal list*/
    text-decoration: bold;
}

/*hover colours for the different items in the list*/
ul li b a:hover {
    color: #Ffffff;
}


h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; /*puts the text in the center*/
}

h3 {
    text-align: center; /*puts the text in the center*/
    color: rgb(236, 205, 220);
}

h2 {
    text-align: center;
}
p {
    text-align:right;
}
@media only screen and (max-width: 785px) {
    /* For mobile phones: */
    .body, .paragraph, .h2, .headings, .nav, .body, .wrapper, .p{
      width: 100%;
   }
  }